.place__paragraph {
    width: 484px;
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
/* or 29px */
color: #FFFFFF;

}
.place__paragraph:last-child {
    margin-top: 20px;
}