.cover {
    display: grid;
    text-decoration-line: none;
    
width: 90%;

margin: 92px 5% 0 5%;

grid-template-rows: repeat(4, 1fr);
}
@media screen and (max-width: 1024px) {
    .cover {
        width: 99%;
        margin: 92px 0 0 0;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        
        margin: 16px 0 0 0;
    }
}
