.footer {
    
margin: 92px 5% 0 5%;
height: 18px;

padding-bottom: 24px;

}
@media screen and (max-width: 515px) {
    .footer {
      margin: 64px auto 24px 16px;
      height: 10%;
      
    }
}
@media screen and (max-width: 640px) {
    .footer {
        
        margin: 24px auto 14px 10px;
   
    }
    
}