.footer {
    display: grid;
    grid-template-columns: minmax(1em, max-content) minmax(1em, max-content) minmax(1em, max-content)
    minmax(1em, max-content) minmax(1em, max-content) auto;
    width: 90%;

margin: 92px 5% 0 5%;
height: 18px;

padding-bottom: 24px;
gap: 18px;
}
@media screen and (max-width: 515px) {
    .footer {
        margin: 64px auto 24px 16px;
        grid-template-columns: auto;
        grid-template-rows: minmax(1em, max-content) minmax(1em, max-content) minmax(1em, max-content)
    minmax(1em, max-content) minmax(1em, max-content) auto;
       height: 10%;
       gap: 3%px;
    }
}
@media screen and (max-width: 640px) {
    .footer {
        gap: 1%;
        margin: 24px auto 14px 10px;
   
    }
    
}